<style>
#video_wrapper {
    margin:0px;
    padding:0px;
}
#video_wrapper video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: -99; important!
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
    
h1 { 
    background: rgba(255,255,255,0.2); 
    color: rgb(0,0,0);
    z-index: 1; important!
}
    
h2 { 
    background: rgba(255,255,255,0.2); 
    color: rgb(255,255,255);
}
    
p { 
    background: rgba(255,255,255,0.2); 
    color: rgb(255,255,255);
}
    
table { 
    background: rgba(255,255,255,0.2); 
}
    
tr { 
    background: rgba(255,255,255,0.2); 
    color: rgb(255,255,255);
}
    
td { 
    background: rgba(255,255,255,0.2); 
    color: rgb(255,255,255);
}
    
th{ 
    background: rgba(255,255,255,0.2);  
    color: rgb(255,255,255);
}
    
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 150px;
    height: 25px;
    background-color: rgba(255,255,255,0.2); 
    opacity: 1;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    margin-right: 0px;
    margin-button: 50px;
    z-index: 99; important!
}
ul li a {
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    color: rgb(255,255,255);
    display: block;
     z-index: 99; important!
}
ul li a:hover {
    color: rgb(255,255,255);
    background: rgba(255,255,255,0.2); 
    z-index: 99; important!
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}

a {
    margin-top: -4px;
}
</style>
